[2015-08-21 18:58] abbycabs opened #1 "Project Lead Meetup - Invites and Plans!"
Bringing together our stellar community members! :family: To learn and build together :mortar_board:

https://kt.etherpad.mozilla.org/collaborate-project-lead-workweek

owner: @kaythaney
- [x] Invite List
- [x] Invite Text
  - [x] First Draft @kaythaney
  - [x] questions for form @zee-moz & @acabunoc (monday)
  - [x] setup google form for RSVP - add skillshare / location / challenge / project @aca

[2015-08-21 19:00] abbycabs opened #2 "MozFest - Final push for session proposals"
Last push for sessions at MozFest! :+1: :100:

owner:
- [x] Schedule tweets for session proposal deadline @kaythaney
- [x] Proposal help call next week (tuesday 1pm) @acabunoc will be there
  - [x] Setup call etherpad - add to week in review @arlissc
    - [etherpad for last call](https://etherpad.mozilla.org/sciencelab-mozfest-2015-proposal-submission-Q-A-1)
    - [WiR from last call](https://www

[2015-08-21 20:34] abbycabs opened #3 "Mozilla Fellows for Science"
Yay fellows! :family:

owner: @kaythaney
- [x] First pass of list @kaythaney
- [x] Start setting up interviews next week
- [x] Meet next week (tuesday?) to dig in more
- [x] Update landing page - call closed (@acabunoc) https://github.com/mozillascience/site/issues/46

[2015-08-21 20:51] abbycabs opened #4 "Paper Badger MVP"
owner: @acabunoc
- [x] Setup etherpad for final project call (monday)
  - https://etherpad.mozilla.org/sciencelab-project-call-aug27
- [x] Blog abt project call (tuesday?)
  - Post scheduled for 11am tuesday: https://www.mozillascience.org/save-the-date-contributorship-badges-call-aug-27
- [x] Invite contributors to speak on call (tuesday)
- [x] update roadmap
- [x] Setup tweets for call @kaythane

[2015-08-21 22:39] kaythaney commented on #1
thanks, abby!

[2015-08-21 22:42] kaythaney opened #5 "Mozilla Science Study Groups"
:raising_hand: + :books:
- [x] @kaythaney to set up and populate msl-study-group mailing list
- [x] follow up email to set up next call - @kaythaney
- [x] fork assay / work out clean way to share lessons across groups - @acabunoc
- [ ] calendaring across groups! - @acabunoc
- [x] contributor guidelines - @stephwright & @kaythaney (pick up after MozFest)
- [x] regular calls strategy / schedule - @a

[2015-08-21 22:49] abbycabs commented on #5
email worked for me! :+1:

[2015-08-22 01:57] ghost opened #6 "Community Building"
The [brainstorm](https://etherpad.mozilla.org/science-lab-ideas-for-growth) is here.  I'm planning to use this as the check-list/roadmap for the main project (owner = @belkinsa).
- [ ] @belkinsa Find a date for project planning/brainstorming from this brainstorm
  -  [Thread](https://mail.mozilla.org/pipermail/mozillascience/2015-August/000249.html)
- [ ]  @belkinsa Start project planning/brainsto

[2015-08-24 15:49] abbycabs commented on #1
@zee-moz -- I shared a form with you for putting together the RSVP form! Please hack away :)

[2015-08-24 18:16] abbycabs commented on #5
Note on the fork assay - this is done for study group site features (calendar, member page), not lessons. Lessons are using a cleaner submodule system.

I expect the site features will die down over time as the Study Groups mature. In the meantime, fork assays reasonable to deal with :smile_cat: I'll check that box off for now, and focus on the calendaring issue!

[2015-08-24 18:25] abbycabs commented on #4
Project call etherpad is up: https://etherpad.mozilla.org/sciencelab-project-call-aug27

[2015-08-25 19:42] abbycabs commented on #3
@kaythaney Any update on meeting this week to dig in more?

[2015-09-04 14:31] abbycabs commented on #1
I think we got through a lot of these yesterday!
@arlissc & @zee-moz do you want to check off what's done? Maybe we can close this issue :)

:heavy_check_mark: :rocket:

[2015-09-04 14:32] abbycabs commented on #4
Badges site is up: http://badges.mozillascience.org/

Script scheduled to go live on Gigascience Sept 17

[2015-09-11 18:40] #3 closed, assigned to nobody

[2015-09-11 18:40] #1 closed, assigned to nobody

[2015-09-11 18:53] #2 closed, assigned to nobody

[2015-09-11 18:53] #4 closed, assigned to nobody

[2015-09-17 16:27] abbycabs opened #7 "MozFest (now - Sept 30)"
:tada: :balloon:
- [x] 150 word Science space description for website (23rd) - @kaythaney? (do we have one already?)
  - sample space description https://festival.etherpad.mozilla.org/calls (line 137)
- [x] longer description with personas (23rd) - @kaythaney? (do we have one already?) -- @zee-moz will pull you in to this.
  - update here https://github.com/mozilla/mozfest-program/milestones/3/edi

[2015-09-18 15:06] abbycabs commented on #7
From sarah:

**We need all Space & pathway descriptions changed on the milestones by Wednesday 23rd COB .**
The big ask of the call is for all Spaces to submit the descriptive narrative of their Spaces on Github- so update the description on your Milestone
- We will need 150 descriptive paragraph on each Space which will be used as part of our comms outreach across various channels, this the small

[2015-09-18 15:36] abbycabs commented on #7
Question: are we adding our team to the travel stipend allocation list?
https://docs.google.com/spreadsheets/d/1VYn3O4n6at_167XzX7YQSVE1A9sCDtbkD_5bMKLfwXQ/edit#gid=0

[2015-09-18 19:09] abbycabs commented on #7
Current text:
Wrangled by: Kaitlin Thaney (@kaythaney), Abby Cabunoc Mayes (@acabunoc), Arliss Collins

The Science track provides a place for science enthusiasts, hobbyists, developers, librarians, educators and researchers to come together to explore core technologies and principles necessary to further web literacy. The track consists of three major components: a project-based, participatory sp

[2015-11-01 01:50] abbycabs opened #8 "Pathways! finalize"
Let's finish pathways work before we get to London :gb: :hotel: :tada:
- Check yourself off  & comment on this issue if your pathway is fully updated in the  [mozfest program repo](https://github.com/mozilla/mozfest-program/milestones/Open%20Science) with:
  1. a description in the pathway issue
  2. your label applied to all session in your pathway
- Pathways:
  - [x] Open Data / @cbahlai
  - [x]

[2015-11-01 01:53] abbycabs opened #9 "DNA match game!"
:microscope:

As people enter the science fair, give them a sticker with a 4 bp DNA snippet. They have to bring their match (exact or complement) to the #openscience table / floor to get a prize!
- [x] order shipping labels to the London office / @kaythaney
  - http://www.amazon.co.uk/Sheets-Shipping-Labels-White-Address/dp/B006GQ4OHC/ref=sr_1_6?ie=UTF8&qid=1446159734&sr=8-6&keywords=shipping+labe

[2015-11-01 01:57] abbycabs commented on #9
Right now, with 256 (4^4) unique DNA snippets, there would be ~7 people that would match you at the festival if we print 1000 labels (3 if you don't know how dna complements work)

Should we make it more likely to find your match?

[2015-11-01 02:00] #7 closed, assigned to nobody

[2015-11-01 02:03] abbycabs opened #10 "MozFest landing page"
Update the info we see on our site :eyes:
- [x] link sessions to official schedule once it's public @acabunoc
- [x] from @kaythaney: add facilitators, orgs & session descriptions to schedule / @acabunoc
- [x] add pathways once finalized! See #8 / @acabunoc

owner: @acabunoc

[2015-11-01 02:12] abbycabs opened #11 "Science Fair"
[Science Fair]  :microscope: :carousel_horse:

Our nominations (_note: Zannah's Mozilla 101 has been nominated by Sarah A._)
- science fellows
- open mapping session / cartoDB & mapzen
- geotagX / mohanty

To do:
- [x] Select final science fair participants / @arlissc
- [x] Update [nomination spreadsheet](https://docs.google.com/spreadsheets/d/1aSRT44eyZPFKfQ2UilvWp3WxnpkoD3jHbATfkZjOaXk/edit?usp=

[2015-11-01 02:19] abbycabs opened #12 "Printed items for MozFest"
Things can get hectic at MozFest! Let's print off some items to help orient people :page_with_curl:
- science space schedule handouts / @acabunoc
  - [x] design -- once we know floor / rooms for locations
  - [x] print
- pathway schedules - @joeyklee ?
  - [ ] ?
- collect all these buttons info - maybe just a sign with all the button images?
  - [x] add all buttons to this issue in a comment / @ac

[2015-11-01 02:21] abbycabs opened #13 "Paper Badger fix"
Need to look into sessions - mongolab update seems to broken log in. No one can claim badges right now.

owner: @acabunoc

[2015-11-01 02:27] abbycabs commented on #12
Pathway buttons:

![acceleratorgif 1](https://cloud.githubusercontent.com/assets/617994/10866929/55446b8e-8005-11e5-9038-174f7257073a.gif)
![citsci 1](https://cloud.githubusercontent.com/assets/617994/10866930/57200562-8005-11e5-8dda-99928e15d204.gif)
![opendatagif 1](https://cloud.githubusercontent.com/assets/617994/10866931/592bc29c-8005-11e5-8e53-c4ae3a0dd44d.gif)
![scicommgif 1](https://cloud.

[2015-11-01 02:37] abbycabs opened #14 "Facilitator Communication"
Last email to facilitators - send on Thursday
- [x] draft email
  - final reminders, welcome to london, details on where to go Friday 2pm
  - separate email for accelerator participants
  - Sunday social details! - Holborn Whippet
  - Directions to Holborn Whippet
  - Time of Sunday social
- [x] send email to all facilitators on Thursday

owner: @acabunoc & @arlissc

[2015-11-01 02:41] abbycabs opened #15 "Master Schedule work"
We need to update the master spreadsheet so the official app will be up to date :calendar:
- [x] Create github issues in the mozfest repo for all the new sessions added. Include gh number
- [x] Add all facilitators & co-facilitators in proper format, including twitter handle
- [x] Update pathways (wait for #8)

owner: @acabunoc

[2015-11-01 21:03] abbycabs commented on #15
@arlissc - do you have a list of all facilitators names + twitter somewhere?

[2015-11-02 16:32] zee-moz commented on #12
I put the limited editions button images on a single sheet. There aren't many! ~10 each fellow/staff person, so we can figure some kind of challenge that people need to complete to get them. If you didn't tell me what kind of image you wanted on your button I made one up for you!
![buttonfinder](https://cloud.githubusercontent.com/assets/13855390/10887445/0c369f0e-817f-11e5-94ba-6a847061971c.png)

[2015-11-02 18:32] abbycabs commented on #12
@zee-moz I love it!

[2015-11-02 19:59] arlissc commented on #12
@zee-moz - ME TOO !

[2015-11-02 20:07] abbycabs commented on #12
@zee-moz you're... an alien?

[2015-11-03 04:48] abbycabs commented on #8
master sheet is updated with all current pathways - including current unconfirmed citizen science pathway. Have pinged @jasonbobe

[2015-11-03 18:59] blahah commented on #12
@zee-moz :bow: sensei

[2015-11-03 19:16] stephwright commented on #12
So much :heart_eyes:  @zee-moz !!!

[2015-11-03 20:07] kaythaney commented on #12
these are ACE. thanks, @zee-moz!

[2015-11-03 20:11] kaythaney commented on #9
hrm ... that might be easier, get more interaction.

also, can see if we can get those running the registration desk to hand out. :)

[2015-11-03 20:23] abbycabs commented on #9
sounds good - I'll aim for 100 unique snippets (50 unique + complements) to make things more likely :)

+1 registration desk work!

[2015-11-03 23:05] abbycabs commented on #8
All is updated! Will update links in pathways description on website when official schedule comes out

[2015-11-03 23:06] #8 closed, assigned to abbycabs

[2015-11-03 23:06] abbycabs opened #16 "Update pathways links on website when official schedule comes out"
reminder for Abby

[2015-11-03 23:06] abbycabs commented on #15
Done and done!

[2015-11-03 23:06] #15 closed, assigned to nobody

[2015-11-03 23:23] abbycabs commented on #11
all done! :smile:

[2015-11-03 23:23] #11 closed, assigned to arlissc

[2015-11-04 01:39] stephwright commented on #12
[PathwayButtons.pdf](https://github.com/mozillascience/plan/files/26702/PathwayButtons.pdf)
First attempt.  Other ideas for how one "earns" a button?  Or how they retrieve them?  Also need hashtags for pathways.  @Blahah and I have discussion on this in Gitter.

[2015-11-04 02:26] stephwright commented on #12
Already realized I didn't have the full name of Open Research Accelerator on above PDF.  Have updated source doc but waiting to hear back on hashtags before or whatever earnings / retrieval mechanism we come up with before uploading again.

[2015-11-04 13:00] abbycabs commented on #12
Really like this! Thanks :)

[2015-11-04 16:41] abbycabs commented on #9
![screen shot 2015-11-04 at 16 40 12](https://cloud.githubusercontent.com/assets/617994/10944793/c082f702-8312-11e5-9496-758b844857a7.png)

Went for even more likely!

24 snippets + their complements = 48 unique codes in the pdf:

[dna.pdf](https://github.com/mozillascience/plan/files/27255/dna.pdf)

[2015-11-04 18:01] abbycabs commented on #9
If people find their match, they can bring them to the #openscience floor / table, then they can enter the #openscience raffle. Enter for a chance to win!

Questions
- what will people win? Preferably something we can email them. Can we give them a giftcard of some sort, @kaythaney?
- where can we find a box to hold the ballots?

On the entry ballot:
- name
- email
- [ ] send me info on how I can

[2015-11-04 18:34] abbycabs commented on #9
raffle ballots
[raffle_mozfest.pdf](https://github.com/mozillascience/plan/files/27355/raffle_mozfest.pdf)

![screen shot 2015-11-04 at 18 34 24](https://cloud.githubusercontent.com/assets/617994/10947899/b4e164fa-8322-11e5-8e24-38ded1a05420.png)

[2015-11-04 20:42] stephwright commented on #12
Happy to do it! Looking forward to finishing up the details.

[2015-11-04 20:44] stephwright commented on #9
Can't wait to see how this plays out!

[2015-11-05 09:59] stephwright commented on #12
Alright... updated version.  Ready to print... I think. :heavy_check_mark:
[PathwayButtons.pdf](https://github.com/mozillascience/plan/files/27885/PathwayButtons.pdf)

[2015-11-05 12:29] abbycabs commented on #12
done printing things!

[2015-11-05 18:14] abbycabs commented on #14
done by @arlissc!

[2015-11-05 18:14] #14 closed, assigned to nobody

[2015-11-05 18:19] abbycabs commented on #16
done

[2015-11-05 18:19] #16 closed, assigned to abbycabs

[2015-11-05 18:19] #10 closed, assigned to abbycabs

[2015-11-06 01:53] abbycabs commented on #12
schedule:
[schedule_mozfest2015.pdf](https://github.com/mozillascience/plan/files/28579/schedule_mozfest2015.pdf)

[2015-11-08 15:31] abbycabs commented on #12
closing!

[2015-11-08 15:31] #12 closed, assigned to nobody

[2015-11-08 15:33] abbycabs commented on #9
game is live and AWESOME!

[2015-11-08 15:33] #9 closed, assigned to abbycabs

[2015-11-12 15:08] abbycabs opened #17 "Paper Badger admin work"
owner: @acabunoc
- [x] make a mailing list
- [x] chat room? gitter?
- [x] update roadmap
- [x] update readme

[2015-11-12 15:11] abbycabs opened #18 "Post MozFest work"
- [x] Facilitator followup (may have been done by @arlissc ?)
  - http://goo.gl/forms/mLxihMSoUw sent to facilitators
- [x] collect etherpads / github repos for projects
  - https://public.etherpad-mozilla.org/p/sciencelab-mozfest-2015-session-etherpads
- [x] find community call speakers
- [x] find guest blog posts
  - in form sent by @arlissc
- [x] Raffle follow-up - @arlissc
  - [x] input in spr

[2015-11-12 16:28] abbycabs commented on #18
@arlissc - what's the current status of the raffle & facilitator follow-up?

Or... who has the tickets? @stephwright?

[2015-11-12 16:30] abbycabs opened #19 "Study Group Assets"
owner: @zee-moz
- [x] @acabunoc to send current posters
- [ ] @zee-moz to provide remixable posters to study group leads

[2015-11-12 16:33] abbycabs commented on #19
This is what I sent to all the sprint sites:

[2015-11-12 16:34] abbycabs commented on #19
@zee-moz  - I'll email you the original illustrator files

[2015-11-12 16:37] abbycabs opened #20 "Upgrade Discourse"
Test theme on new version of Discourse
https://github.com/MozillaFoundation/mofo-devops/issues/158#issuecomment-152828503

[2015-11-13 15:26] stephwright commented on #18
Tickets were put into the bag of stuff to go back, I believe.  @kaythaney did that go home with you? raffle winner has already been notified.

[2015-11-13 15:28] abbycabs commented on #18
Follow up for more info (study groups, contributing) should ideally be done <48h after the event! Would love to get on that if someone has the emails.

[2015-11-13 21:07] abbycabs opened #21 "MOSS"
Blog about MOSS
https://wiki.mozilla.org/MOSS

Invite our community to apply

[2015-11-16 15:56] kaythaney commented on #18
Nope, raffle tickets are with @arlissc. Arliss - possible to tackle today? Let us know if you need help!

[2015-11-16 15:57] kaythaney commented on #18
@acabunoc + @arlissc - worth reaching out to facilitators again today to collect materials used for their sessions, work done, links, etc?

[2015-11-16 15:58] kaythaney commented on #9
and gift card is AWARDED.

[2015-11-16 16:07] stephwright commented on #9
:trophy:

[2015-11-16 18:13] abbycabs commented on #18
@arlissc want me to setup an etherpad / github repo to collect all the materials? We can ask facilitators to contribute or email us.

[2015-11-16 20:33] abbycabs commented on #18
@arlissc has a master etherpad with info on shared materials for all sessions! She'll send it to @kaythaney to include in the blog :)

[2015-11-16 22:02] arlissc commented on #18
@acabunoc + @kaythaney  - I have forwarded a couple of emails that should cover questions/requests above.
I have started capturing the ballots this morning and will continue this week.  There are lots of duplicates so this lessens the typing a bit

[2015-11-17 15:40] abbycabs commented on #18
Session etherpads!
https://public.etherpad-mozilla.org/p/sciencelab-mozfest-2015-session-etherpads

[2015-11-17 20:10] abbycabs opened #22 "Supporting community sprints"
Discussion item for our virtual meeting! All ideas welcome.

How can we help others run local sprints?

Ideas:
- how to run a sprint checklist
- designed assets (signage, flyers, etc) they can use and remix
- send someone there to help run the event
- ...?

[2015-11-17 21:36] abbycabs commented on #21
Blog preview: http://wp.mozillascience.org/mozilla-open-source-support-moss/?preview=true (need wp login)

Scheduled to post at 11am ET tomorrow

[2015-11-18 17:58] abbycabs commented on #13
https://github.com/mozillascience/PaperBadger/pull/145

[2015-11-18 17:58] #13 closed, assigned to abbycabs

[2015-11-18 17:58] abbycabs commented on #21
And blog is live!
https://mozillascience.org/mozilla-open-source-support-moss

[2015-11-18 17:58] #21 closed, assigned to abbycabs

[2015-11-18 21:58] abbycabs opened #23 "resources requirements & sustainability plan"
Make resources on "resources requirements & sustainability plan" for the fellows project
- [x] figure out what this means
- [x] research
- [x] write draft
- [x] final draft

owner: @acabunoc
cc: @zee-moz

due date: December 1

[2015-11-18 22:02] abbycabs opened #24 "Update website - new mission statement"
**We work to make research collaborative, accessible, and usable.**
We do this by:
- Empowering the next generation of leaders through fellowships and mentorship;
- Facilitating project-based learning around open data and open source;
- And supporting and advocating for a growing community of researchers working openly.

[2015-11-18 22:06] abbycabs opened #25 "roadmap w/ technical requirements"
Make resources on how to do this "roadmap w/ technical requirements"

For fellows!
- [x] research
- [x] first draft
- [x] final draft

owner: @acabunoc
cc: @zee-moz

Due date: Dec 12

[2015-11-18 22:09] kaythaney opened #26 "problem statement and SWOT exercise for fellows"
cc @zee-moz :memo:

[2015-11-19 21:52] abbycabs opened #27 "Add Fellows deliverables / activities to the Fellows Github repo:"
:books: :pencil2:

Add here: https://github.com/mozillascience/fellows-class-2015

owner: @zee-moz
#### Dec 1-11
- [x] concise statement of idea, with SWOT << @kaythaney
- [x] user/collaborator personas & pathways exercise << @zee-moz
- [x] resources requirements & sustainability plan << @acabunoc #23
#### Dec 12 - Jan 6 (project review)
- [x] roadmap w/ technical requirements << @acabunoc #25
- [

[2015-11-20 17:59] zee-moz opened #28 "Add a 2016 Roadmap to Plan Repo"

[2015-11-23 14:35] abbycabs opened #29 "New project call structure"
We're trying out a new project call format this week (Thurs 11am ET)! Just testing it out, we know it's American thanksgiving :poultry_leg: :us:

Format:
1. friends of mozilla science / shoutouts to new contributors (on any project)
   - ask Collaborate leads to fill this out before. MC will present it.
2. project updates! All Collaborate projects are invited to give a quick update on their projec

[2015-11-23 16:39] kaythaney opened #30 "badges follow-on work"
:star: :microscope: :heavy_check_mark:
- [x] follow up with darlene from scistarter on technical support & taxonomy work - @kaythaney (to cc @acabunoc)
- [x] reach out to nate otto about technical backend support - @acabunoc
- [x] reach out to darlene, connect with nate, non-badgekit ways to support scistarter & paperbadger - @acabunoc
- [x] revisit taxonomy discussion with darlene in january (con

[2015-11-23 16:45] abbycabs commented on #30
:+1: thanks :)

[2015-11-23 17:10] kaythaney commented on #30
np! :information_desk_person:

[2015-11-23 17:57] abbycabs commented on #29
Etherpad: https://public.etherpad-mozilla.org/p/sciencelab-project-call-nov26

[2015-11-23 18:31] abbycabs commented on #29
Hangout info
- To JOIN THE CALL: https://hangouts.google.com/call/peeavwa5ftpu63gmztpf2l2rfia
  - To view the broadcast, click here: https://plus.google.com/events/cg2rtcq42vugrmisef8thu8mivc
- We'll be using Google Hangouts on Air for this call.
  - Please note that this call will be recorded
  -  Miss last call? Here's the recording: https://www.youtube.com/watch?v=aRylnMh6wck

[2015-11-23 21:14] abbycabs commented on #29
Survey: http://goo.gl/forms/bZQ5CkLPtL

[2015-11-23 21:40] abbycabs commented on #29
Blog: https://www.mozillascience.org/introducing-the-monthly-mozilla-science-project-call

[2015-11-24 14:28] zee-moz commented on #19
@acabunoc I can't seem to find these files in my inbox-- can you resend?
thanks!

[2015-11-24 15:44] abbycabs commented on #18
Follow up emails all sent!

You can see bounced email addresses here (need access):
https://docs.google.com/a/mozilla.com/spreadsheets/d/1hbO_Hdub_vwOmlEvqcbUqFZYv3yvVZr0lSufkIgPbJs/edit?usp=sharing

I ended emails with "We’ll be in touch shortly to see how things are going. Thank you for helping us make research more collaborative, accessible and usable." So we can reach out again in a couple wee

[2015-11-24 17:18] abbycabs commented on #29
Reached out to Alf & Ian!

[2015-11-24 18:27] stephwright commented on #18
Added more suggestions for new emails on bounces

[2015-11-24 18:42] kaythaney opened #31 "onboarding new community lead"
New community lead to start on Dec 1.
- [x] freshen up onboarding materials
- [x] add in zannah's etherpad of mysterious terms
- [x] add new hire to thursday fellows' calls + dec 4th project lead call
- [x] send out welcome email
- [x] introductory MSL blog post

[2015-11-24 18:54] abbycabs commented on #17
making a public google groups email list still need mozilla ldap to sign in. Need to try again...

[2015-11-24 21:16] stephwright commented on #31
[MozillaLingoBingo.docx](https://github.com/mozillascience/plan/files/43228/MozillaLingoBingo.docx)

[2015-11-24 21:33] kaythaney commented on #31
@stephwright ha! did you and @zee-moz create this? :) wonder if it's worth giving to angela and mandy for the new hires for Orlando?

[2015-11-24 21:41] stephwright commented on #31
I just threw it together based off @zee-moz 's awesome lingo list.  May want to change up some of the words based on what area the new hires are working in.  Feel free to distribute as you'd like.

[2015-11-25 00:37] abbycabs commented on #24
Added new tag line & left some comments in redpen

https://redpen.io/p/xy9973c8b10d4973cb

Would love comments in the redpen! @zee-moz @stephwright @kaythaney @arlissc

[2015-11-25 00:40] abbycabs commented on #24
Note: replaced "We work to make" to "Working" for simplicity

[2015-11-25 15:38] kaythaney commented on #29
scheduled a few tweets for today (wednesday). good luck, @acabunoc !

[2015-11-25 17:44] abbycabs commented on #31
@stephwright that is amazing! Nice work!

[2015-11-25 18:17] abbycabs commented on #17
new public mailing list: paperbadger-moz@googlegroups.com

[2015-11-25 19:09] abbycabs commented on #20
Added styles! https://discourse-science.mofostaging.net/

[2015-11-25 19:10] #20 closed, assigned to abbycabs

[2015-11-25 20:28] abbycabs commented on #17
new roadmap: https://github.com/mozillascience/PaperBadger/issues/17

new readme in pr: https://github.com/mozillascience/PaperBadger/pull/147

[2015-11-25 20:28] #17 closed, assigned to abbycabs

[2015-11-26 19:25] abbycabs commented on #29
Recording!
https://www.youtube.com/watch?v=vBAcXkXK7iI

[2015-11-26 19:25] #29 closed, assigned to abbycabs

[2015-11-26 19:57] abbycabs commented on #30
emailed Nate, suggested we chat next week!

[2015-11-26 20:55] abbycabs commented on #23
Hey @zee-moz - I probably should have asked this earlier, but I'm not sure what this means. Could you help me understand what you meant by this point?

Sorry

[2015-11-27 18:09] arlissc commented on #18
Blog completed :)

[2015-11-27 18:10] arlissc commented on #18
All work completed - closing this issue

[2015-11-27 18:10] #18 closed, assigned to arlissc

[2015-11-27 18:28] arlissc opened #32 "Project schedule (mapped to calendar)"

[2015-11-30 14:52] abbycabs commented on #30
Talking to Nate tomorrow

[2015-11-30 15:01] zee-moz commented on #23
Hi Abby! Sorry I didn't see this over the weekend.
We're basically trying to get the fellows to think in advance about the resources and help they'll need for their project--- do they need physical space or server space? will they need $$ for some tech to test it? will they need someone to help who has special skills, like python programming or graphic design? they'll need to look closely at their

[2015-11-30 18:00] kaythaney commented on #23
hi gang,
another step i'm not sure we've covered is how their project will apply to a use case other than their immediate own (aka how is this transferable). might be worth having the fellows articulate how their idea applies to a use case other than their own to get them thinking about that. not sure that's right for the sustainability plan or to tack on to the project description exercise i'm wo

[2015-11-30 18:15] zee-moz commented on #23
I think it could go in either spot, though maybe better suited to the project description exercise so they get to it sooner (if they're doing these in order that we've listed them) and then reflect that in the sustainability plan, where they're thinking about getting more help and contributors and involvement (they will have more options if they have more potential users/use cases).

[2015-11-30 18:16] kaythaney commented on #23
+1. will add!

[2015-11-30 18:49] stephwright commented on #31
All based off @zee-moz 's awesome work!

[2015-11-30 19:47] abbycabs commented on #23
In progress: https://github.com/acabunoc/fellows-class-2015/blob/master/resources_requirements.md

[2015-11-30 21:39] abbycabs commented on #25
draft: https://github.com/acabunoc/fellows-class-2015/blob/master/roadmapping.md

[2015-11-30 21:50] abbycabs commented on #25
Note: Still need to incorporate technical requirements here

[2015-11-30 22:56] zee-moz commented on #25
Hey, just made a comment (with a bunch of edits) on what you have so far.
let me know if you want to talk tomorrow!

On Mon, Nov 30, 2015 at 4:50 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

[2015-11-30 23:05] zee-moz commented on #25
By bunch of edits, I mean, I edited and updated my comment like a million
times :)

On Mon, Nov 30, 2015 at 5:55 PM, Zannah Marsh zannah@mozillafoundation.org
wrote:

[2015-12-01 00:39] kaythaney commented on #23
Also, incorporated a line into mine, as well:
https://github.com/mozillascience/fellows-class-2015/blob/master/project_description_exercise.md

On Mon, Nov 30, 2015 at 2:47 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2015-12-02 21:05] auremoser opened #33 "Working through Onboarding Docs"
Reviewing/completing items on the [onboarding checklist](https://docs.google.com/spreadsheets/d/1yt8NdwTdc_vrgWj3_VFtKKOoZiHEH9J_I0jNUKH4C1M/edit?ts=565dc35c#gid=1724807992&vpid=A2).
- [x] Week 1
- [x] Week 2
- [x] Week 3
- [x] Week 4

[2015-12-03 22:41] stephwright commented on #5
Contributor guidelines to be presented to study group leads at 12/4 call

[2015-12-14 18:52] abbycabs commented on #31
closing! I think it's all done :)

[2015-12-14 18:52] #31 closed, assigned to kaythaney

[2015-12-15 15:02] abbycabs commented on #30
Credly seems to the best option if you have limited dev resources

[2015-12-15 15:20] abbycabs opened #34 "How to Open Source a project"
@auremoser & @acabunoc
- [x] brainstorm session
  - some thoughts came out when we chatted on Monday:
  - pudo's open data: http://pudo.org/projects/checklist/
  -  https://mozillascience.org/seven-steps-to-building-community-around-your-open-source-project
- [x] put together a cheat sheet / checklist
- [ ] figure out where this will live @zee-moz & @stephwright

@kaythaney - feel free to add any

[2015-12-15 15:30] kaythaney commented on #34
thanks both! will have a think.

On Tue, Dec 15, 2015 at 10:20 AM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2015-12-15 15:31] kaythaney commented on #30
care to reply to darlene with that and maybe an intro to nate? thanks, abby!

On Tue, Dec 15, 2015 at 10:02 AM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2015-12-15 15:43] abbycabs commented on #30
Yup, I updated the checklist above^ thanks!

[2015-12-15 16:27] auremoser commented on #34
I really like your layout in that blog post, and for consistency. I think it would be rad to maintain that structure, with a few additions, like the code of conduct we discussed, maybe with some general headers and alternative links (for example, if they choose to share code on a platform other than github (bitbucket or whatever)):

cc @zee-moz for some perspective on curriculum design.

### Gener

[2015-12-15 16:51] abbycabs commented on #34
I like this! :100:

One thing I'd like to see more of: good first bugs / mentored issues in the 'Setup Issues' or 'Engage Community' sections. I know that kind of thinking has been one of our bigger offerings in this space.

thanks for putting this together @auremoser :)

[2015-12-15 16:57] #26 closed, assigned to kaythaney

[2015-12-15 17:21] abbycabs commented on #23
Final Versions here:

https://github.com/mozillascience/fellows-class-2015/blob/master/explore/2-resources_requirements.md
https://github.com/mozillascience/fellows-class-2015/blob/master/explore/2-sustainability_plan.md

Closing!

[2015-12-15 17:21] #23 closed, assigned to abbycabs

[2015-12-15 17:22] abbycabs commented on #25
Roadmapping here: https://github.com/mozillascience/fellows-class-2015/blob/master/explore/3-roadmapping.md

[2015-12-15 17:22] #25 closed, assigned to abbycabs

[2015-12-15 18:52] abbycabs opened #35 "Prototyping Deliverables for Fellows"
owner: @auremoser
consult: @zee-moz @acabunoc

:books: :information_desk_person:
- [x] schedule chat on prototyping deliverables for fellows (january - february)
  - when are all three of us free?
- [x] meet to discuss deliverables 12/16
- [x] propose structure and delegate if necessary

(was originally [here](https://github.com/mozillascience/site/issues/58))

[2015-12-16 03:21] auremoser commented on #35
I'm around pretty much always since I'm new and not on vacation any time soon. We can chat on Friday if that's o.k., or next week, I have the fellows meeting Thursday so I'd like to get feedback from them before we plan the next round. Cool?

[2015-12-16 17:58] abbycabs commented on #35
Yup, that makes sense! And I know we chatted a _bit_ about this on Monday. Just put it here so I don't forget :)

[2015-12-16 19:18] zee-moz commented on #35
Friday is best for me!

Free all day until 3:30

On Wed, Dec 16, 2015 at 1:12 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

[2015-12-16 21:20] auremoser commented on #35
Fine, I proposed a time, if that doesn't work, just change it, you have change rights: https://public.etherpad-mozilla.org/p/prototype-2015

[2015-12-16 22:38] abbycabs opened #36 "Website redesign"
owner: @acabunoc

December
- [x] Agencies research @kaythaney & @acabunoc
  - consulted: @vazquez

January
- [ ] Start talking to agencies
  - To Contact:
    - [x] [Playground Inc](http://playgroundinc.com/) @acabunoc
    - [x] [Jacknife a.k.a. Oxygen](http://jacknifedesign.com/) @acabunoc
    - [x] [Bocoup](https://bocoup.com/) @kaythaney
  - Followup meetings
    - [x] Playground (scheduled for

[2015-12-16 23:05] kaythaney commented on #36
thanks, abby!

On Wed, Dec 16, 2015 at 6:02 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2015-12-16 23:07] vazquez commented on #36
#### Toronto Agencies

Some of my fave Toronto agencies:
- [Playground Inc](http://playgroundinc.com/)
- [Huge Inc](http://www.hugeinc.com/)
- [Grip Limited](http://www.griplimited.com/)

Other agencies that have come out with really good work:
- [Sapient Nitro](http://www.sapientnitro.com/en-us.html)
- [Jacknife a.k.a. Oxygen](http://jacknifedesign.com/)
- [Concrete](http://concrete.ca/)
- [Arc a

[2015-12-16 23:37] abbycabs commented on #36
Thanks so much @vazquez! Are these all Toronto?

[2015-12-16 23:39] vazquez commented on #36
Yes! I just updated the Heading above

[2015-12-17 00:42] kaythaney commented on #5
adding @auremoser to this

[2015-12-17 00:42] kaythaney commented on #22
let's flag in our next team meeting in 2016.

[2015-12-17 00:43] kaythaney commented on #33
go aure!

[2015-12-17 00:43] kaythaney commented on #34
@zee-moz - looping you in here, too.

[2015-12-17 00:47] kaythaney opened #37 "End of Year Report"
- [x] finish EOY report, share with funders - @kaythaney
- [x] distill for blog - @kaythaney + others
- [x] publish to figshare - @kaythaney (waiting on a bug fix)
- [x ] add link to the blogpost - @kaythaney
- [x] add additional images to blogpost - @auremoser + @acabunoc to help? (might not be needed)
- [x] tweet out + send to mailing list - @arlissc
- [x] share blog post highlights + full repor

[2015-12-17 05:05] auremoser commented on #33
:) thanks!

[2015-12-17 20:48] abbycabs commented on #24
Updates!

Let me know your thoughts in the redpen, will probably push updates later tomorrow if there are no major objections:
https://redpen.io/akb170e9dcb767b362

^ @zee-moz @auremoser @stephwright @arlissc

[2015-12-18 15:29] kaythaney commented on #37
@arlissc @auremoser @acabunoc - could you help share this out by end of day (including with all-mofo list)? ping if you need any help - and thanks in advance!

[2015-12-18 15:37] abbycabs commented on #37
I'm collecting images from the past year now!

[2015-12-18 16:21] auremoser commented on #37
Can we combine it with the "Happy Holiday's" post, and include the photo from Vidyo with our holiday flair as well?

[2015-12-18 16:29] auremoser commented on #37
@acabunoc let me know if I can help! I don't think I can edit the wordpress simultaneously so I'm happy to take over when you are done, just ping me. :)

[2015-12-18 16:31] abbycabs commented on #37
@auremoser oh, just saw this! I exited the post and sent you some images

[2015-12-18 16:33] abbycabs commented on #37
Holiday post from last year:
https://www.mozillascience.org/happy-holidays-from-the-science-lab

[2015-12-18 17:17] auremoser commented on #37
OK, holiday post will be separate then, I've just saved a draft with images. If everyone's o.k. with it, I'll publish. @acabunoc + @kaythaney cool?

[2015-12-18 18:07] auremoser commented on #37
Done, thanks @acabunoc : https://mozillascience.org/looking-back-on-2015, we can share it with financial or whomever now, @kaythaney

[2015-12-18 18:24] stephwright commented on #37
:heart: the use of @Blahah 's animated logo!!!  well done!

[2015-12-18 18:30] stephwright commented on #37
shall I add link to blogpost in the tweet I have scheduled for Wednesday?

[2015-12-18 18:39] abbycabs commented on #37
@stephwright - we'll probably have a holiday post go out around then, we can link to that instead, I think!

Emailed all-mofo the post/report!

[2015-12-18 18:45] auremoser commented on #37
Emailed our mailing list, but i believe it needs moderator approval, and I just tweeted on our account the blog, so go at it with the re-tweets!

[2015-12-18 18:46] auremoser commented on #37
Pending @arlissc mailing list approval of my post, I think we can close this issue, well done all.

[2015-12-18 18:46] #37 closed, assigned to kaythaney

[2015-12-18 21:00] abbycabs commented on #24
Made a bunch of changes, take a look on staging:
http://staging-mozscilab.herokuapp.com/

Can't map things _exactly_ to our mission statement since we still have our old website structure. Will definitely keep in mind as we go into the redesign next year!

Comments welcome here or in redpen!
https://redpen.io/cp3a2fc2bad080b31b

[2015-12-21 15:46] abbycabs commented on #24
It's live!
https://mozillascience.org/

Closing issue

[2015-12-21 15:46] #24 closed, assigned to abbycabs

[2015-12-21 16:30] abbycabs opened #38 "Landing pages - working open workshop (WOW!), thursday night meetup"
owner: @acabunoc

Building two landing pages - they'll both show up under 'Upcoming Events' on our site.
1. Working Open Workshop
2. Open Science Meetup - Berlin (@mozillascience/MSL-Staff anyone have a better name?)
- [x] build WOW page / https://mozillascience.org/working-open-workshop-february-2016
  - [x] add WOW event to database / homepage - link to blog
  - [ ] ~~make event page template~~

[2015-12-22 20:38] auremoser commented on #34
Hey all, do we want to put this into a science lab gist or something, or a wiki on our "plan" repo, I'm open to whatever, I'm just worried we'll forget about it if we don't assign the issue to anyone

[2015-12-22 20:47] abbycabs commented on #34
I like the wiki idea!

@zee-moz, this feels 'curriculum'-y, do you have a plan for where stuff like this goes?

[2015-12-22 20:55] zee-moz commented on #34
Steph and I will figure out where it goes! We're making a plan for all
resources so tag steph and assign me and we'll handle it!
Thx

On Tuesday, December 22, 2015, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

[2015-12-22 20:57] abbycabs commented on #34
flagging @stephwright, thanks both :tada: :memo:

[2015-12-23 16:32] auremoser commented on #38
surely, I'm happy to help what would you like me to work on? what's left?
- for the name, maybe 'open science spritzer' or something? we're just doing drinks and lightning talks right? maybe we use 'open science summit' since we're going strictly WOW for the rest of the weekend? I like that it abbreves to OSS.

[2015-12-23 16:33] abbycabs opened #39 "Project Call - Jan 28"
January Project Call checklist!
owner: @acabunoc

General question for @auremoser / @mozillascience/msl-staff - is "project call" too similar sounding to "community call"? I didn't really think about branding when I named the call. Maybe "Collaborate call"?
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-project-call-jan28-2016
- [x] make event https://mozillascience.org/proje

[2015-12-23 16:38] auremoser commented on #39
I think it's o.k., but I guess when we reboot the website we could decide how we want to brand Collaborate, either we call it that or we call it Projects in the nav+url+page headers and Collaborate is the tool that allows us to surface projects.
Regardless, the name is fine here, you've already done one, let's run with it!

[2015-12-23 16:41] abbycabs commented on #38
@auremoser - do you think we should have an event for the community mixer? I wasn't too sure, so I haven't started on that yet. Happy to let you take that since you're super familiar with our janky event system now!

[2015-12-23 16:42] auremoser commented on #38
Oh cool, sure, o.k. I'll start on that.

[2015-12-23 16:43] abbycabs commented on #39
Good plan, thanks!

[2015-12-23 17:15] auremoser opened #40 "Community Call"
January Community Call checklist! 1/14/15
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-jan14-2015
- [x] make event http://localhost:5000/community-call-jan-14-11-et thanks @acabunoc

**Thursday before (1/7/16)**
- [x] email mailing list with call announcement
- [x] -7d tweet

**Monday before (1/11/16)**
- [x] email speakers, remind them of call, ask

[2015-12-23 17:48] auremoser opened #41 "Plan for Fellows' Workweek"
I believe we have a schedule in [this cohort etherpad](https://public.etherpad-mozilla.org/p/cohort-brainstorm-notes), but I thought we could start brainstorming schedule ideas here, any other ideas for engaging with the Berlin scene would be grand, or just +1'ing the following ideas, maybe we don't need this though? @zee-moz, @stephwright @arlissc @kaythaney @acabunoc :

I reached out to a few fo

[2015-12-23 18:47] auremoser opened #42 "WOW Tasks"
WOW task checklist! 1/14/15
owner: @auremoser
- [x] manage [spreadsheet](https://docs.google.com/spreadsheets/d/176QgQb2dkV6dQpScKU70Wv1EGxtNXwyQtrkJcTci5F4/edit#gid=0) of invitees  (8 hrs)
- [x] create friendly personable, conversational email with event details, log responses (6 hours)
  - [x] round 1 invites send 12/22
  - [x] round 2 invite send
- [x] collecting info/surveys results, bios (2 h

[2015-12-29 20:22] auremoser commented on #35
12/27
- [x] reach out to joey and richard with Zannah's questions, and a proposed approach to the sprints from our meeting 12/16
- [x] modify Arliss's [Prototype Schedule](https://docs.google.com/spreadsheets/d/1iKpicZeDdvBInx4fAGFFkPJP1-vHxkDJ-QicmpbttcQ/edit#gid=1298412634) to include sheet 2 for the "sprint schedule"
- [x] ask Arliss's approval of mods
- [x] push date back to March for the Prot

[2016-01-05 16:05] zee-moz commented on #41
In the post-onboarding survey, we'd asked the fellows what trainings would be useful. These are some things that came up:

-Science Communication/Advocacy (Joey)
-Organizational Change (Richard)
-Curriculum Design (Christie)
(did not see responses from Jason)

If we could do a few hours on one of these that would be great. We'll likely take care of curriculum design as we work through the cohort m

[2016-01-05 16:47] auremoser commented on #41
Sure, I think that's totally important here, I'm glad we have some structure and some things that the fellows own!
- Are we going to do the curriculum sprint to define some templates for these lessons that we can then test with and modify during the fellows' workweek (for debut at the summit?)?
- Maybe Jason could speak to soliciting participation, or dealing with personal/health data delicately.

[2016-01-05 16:58] zee-moz commented on #41
@auremoser  Clarification: These were trainings the fellows REQUESTED, not that they volunteered to do! I was thinking of these trainings as being targeted to the Fellows, and then re-used for subsequent fellows groups and/or OLC.

We need to hash out how the fellows trainings will feed into the OLC, and what formats are best!

As I see it we have three audiences: Fellows, OLC, and the communities

[2016-01-05 16:58] kaythaney commented on #41
Regarding organizational change, it'd be worth pinging Beatrice Martini
(friend of Mozilla, now working with Gunner at Aspiration). She might even
be able to facilitate. Let me reach out to her.

Also, worth seeing if some of these trainings are better suited for post-
workweek trainings and workshops. For instance, Royal Institution is very
London-based. And there may be other workshops that are

[2016-01-06 05:36] #35 closed, assigned to auremoser

[2016-01-06 05:36] auremoser commented on #35
Hope it's o.k. with everyone, pending feedback from the fellows, I think we're all set.

[2016-01-06 06:06] auremoser opened #43 "Community Call - March"
March Community Call checklist! 4/14/16
owner: @auremoser
informed: @acabunoc
- [x] make [etherpad](https://public.etherpad-mozilla.org/p/sciencelab-calls-mar10-2016)
- [x] make [event ](https://mozillascience.org/community-call-mar-10-11-et)
- [x] make [blog post](https://mozillascience.org/community-call-mar-10-11et)

**Thursday before (/3/16)**
- [x] email speakers, remind them of call, ask the

[2016-01-06 14:46] abbycabs commented on #35
:+1: yayy! Nice work @auremoser

[2016-01-06 14:57] auremoser commented on #35
my first closed issue! huzzah. thanks @acabunoc

[2016-01-06 18:30] abbycabs commented on #39
emcee confirmed: @maxkfranz

[2016-01-06 23:06] kaythaney commented on #42
WOW Action Items (from 1/6/16 meeting)
ACTION ITEMS:
- [x] Send @auremoser  Expensify instructions - @arlissc
- [x] Send out updated reimbursement instructions to participants / invitees - @auremoser
- [x] Reach out to Linda/Anabelle - for early week  - @auremoser
- [x] Venue + planning for Thursday night - @arlissc  + @kaythaney
  - [x] @auremoser to link both with peter from berlin open science

[2016-01-06 23:07] kaythaney commented on #42
@acabunoc @auremoser @acabunoc @zee-moz @stephwright feel free to add to this and / or move to another thread if easier!

[2016-01-07 17:21] stephwright commented on #42
There are leftover notebooks from Mozfest and Sarah Allen said she'd be happy to let us have them for WOW as well as bags and pencils.

[2016-01-07 23:29] abbycabs commented on #36
Scope update!

With mofo working on an MLN-wide (clubs + all fellows groups potentially) [theme](https://github.com/MozillaFoundation/plan/issues/643) and [stack](https://github.com/MozillaFoundation/plan/issues/662) we could leverage in the future, we're going to focus this redesign on two areas.
1. UI/UX refresh of [mozillascience.org](https://mozillascience.org/)
   - **main goals** [in progres

[2016-01-08 18:57] abbycabs commented on #38
Reached out to community designers for a banner image! https://github.com/mozilla/Community-Design/issues/2
- new program Lucy is running

[2016-01-08 20:47] auremoser commented on #42
More tasks from 1/8
[Team call etherpad](https://public.etherpad-mozilla.org/p/sciencelab-teamcalls-jan08-2016)
- [x] email participants with expensify details
- [x] get boutique requests for travel (transcriptionists, some students) to Pamela
- [x] make sure accommodation options are sent out
- [x] draft intro onboarding email with @zee-moz ' [survey](https://docs.google.com/forms/d/12Np-N8bj-3P9

[2016-01-11 18:55] kaythaney commented on #28
Anything I can do to help here?

[2016-01-11 18:57] #27 closed, assigned to nobody

[2016-01-11 19:08] kaythaney commented on #19
- [ ] revisit [open science utility belt](https://github.com/mozillascience/studyGroupLessons/issues/7), look at amending to match current curriculum plan + flow - @zee-moz @auremoser
- [ ] revisit contributor guidelines (@stephwright : any update?)
  - [ ] longer term, add contributor guidelines to key "getting started" assets (webpage, code of conduct, handbook) -
- [ ] brainstorm starter kit +

[2016-01-11 19:09] kaythaney commented on #19
also, @zee-moz @auremoser - high interest in code review lessons / activities during the last study group lead call. (noting here, cc @acabunoc)

[2016-01-11 19:11] kaythaney opened #44 "Microgrants"
- [x] Research Hive's microgrant model -  @kaythaney
- [ ] Sketch out MSL specification / strategy
- [ ] Liase with MoFo ops

:money_with_wings: :microscope:

[2016-01-11 19:30] kaythaney opened #45 "Helmsley progress report"
- [x] Discuss with Kalpana - Jan 13
- [x] First draft of responses - end of Jan
- [x] Check in with Sarah at Helmsley - week of Feb 7
- [x] Updated financials - 2/29
- [x] Submit - early March

:dollar: :email:

[2016-01-11 19:49] arlissc opened #46 "WOW Tasks - Arliss"
owner:  @arlissc

**Jan 11 - 15**
- [x] confirm Community event location (Feb 04)
- [x] confirm workshop event location (Feb 05/06)
- [x] confirm workshop dinner (Feb 05)
- [x] Dine around options (Feb 06)
- [x] Draft notes for 10 min presentation on "Events + Sprints"
- [x] Contact Madeleine B. to discuss
- [x] Design the presentation

**Jan 18 - 22**
- [x] Send berlin week plans to Lydia (Wikida

[2016-01-11 20:00] abbycabs opened #47 "WOW followup plan"
I can own this if everyone is okay with that
:construction_worker: :pencil2: :book:

owner: @acabunoc
to consult: @zee-moz @auremoser

General ideas:
- [ ] set broad milestones (global sprint, run a local sprint, get on Collaborate) - cohort wide. Rough dates:
  - Collaborate launch: March 2016
  - Local event: March - April 2016
  - Global sprint: ~May 2016
- [ ] bi-weekly (every two weeks) check

[2016-01-11 21:17] kaythaney commented on #28
update - learning roadmap is live: https://github.com/mozillascience/learning/blob/master/plan/Roadmap.md

will look for the MSL strategic plan roadmap & revisit!

[2016-01-12 18:20] stephwright opened #48 "WOW data mgmt workshop"
- [x] Write up 10 minute presentation intro on workshop (see below)
- [x] [Create quick info data mgmt sheets](https://drive.google.com/drive/u/1/folders/0B9mhdp2LhM7AYWw5bVUtU240YUE)
  - [x] [Why open data](https://drive.google.com/open?id=1NqrybqhRRHlvxyc__y4avDCbi3t-vbrTaF2rdoaZwHw)
    ~~\- [ ] [Where to put open data](https://drive.google.com/open?id=1dTATMttLXeU20RTxTeD_BQVAm6BOgVekF0oHpkmnY

[2016-01-12 18:39] abbycabs commented on #42
More [tasks from 1/12](https://public.etherpad-mozilla.org/p/cohort-brainstorm-notes)

## Sketch outlines for 10 minute presentations

(will build materials off of these)
- [x] Roadmapping - @acabunoc
- [x] Contributor Guidelines - @auremoser  (CONTRIBUTING.md)
- [ ] Events + Sprints - @arlissc  (to contact Madeleine)
- [x] Data - @stephwright  (to contact Christie) (also here: https://github.com/

[2016-01-12 21:07] stephwright commented on #48
Added links to Google Docs where I'm working up the quick sheets.  Very rough right now.  Will pretty up and flesh out as I go. Suggestions appreciated!

 Do we have a cohort repo or somewhere we want this stuff to go in GitHub for when I'm done hacking in Google Docs?

Having second thoughts about doing quick sheet about DM best practices right now because seems more important for WOW to get firs

[2016-01-14 19:52] auremoser commented on #40
Hey @kaythaney, do you usually author a followup post on the blog about the calls? Or mailing list dispatch? Or is it just a pre-call post?

[2016-01-14 20:10] auremoser opened #49 "WOW Transcription"
- [x] contacted transcriptonist agency
- [x] contracted and assembled fees (in drive -> WOW/Receipts)
- [x] assembled [training vocabulary](https://docs.google.com/document/d/1UJIIMupcsoNs--4pOfCy83jQ7WgK4AVO6nHTCecrw6g/edit?ts=569581d7#)
- [x] announced to #mslparty and #mslstaff

[2016-01-14 21:01] kaythaney commented on #40
To date, it's just pre-call, but no reason we can't switch that up. :)

sent on the move. apologies for typos.

[2016-01-15 01:09] auremoser opened #50 "Community Call - February"
February Community Call checklist! 2/11/15
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-feb11-2016
- [x] make event http://localhost:5000/community-call-feb-11-11-et
- [x] contact speakers: Kurtis, [April](https://twitter.com/april_cs), Emily

**Thursday before (2/4/16)**
- [x] email mailing list with call announcement
- [x] -7d tweet

**Monday befor

[2016-01-15 01:10] #40 closed, assigned to auremoser

[2016-01-15 01:45] #49 closed, assigned to auremoser

[2016-01-15 15:33] #33 closed, assigned to auremoser

[2016-01-15 15:53] auremoser opened #51 "Make Github Netiquette Curriculum"
## Context

Helping the fellows with their workweek [#41](https://github.com/mozillascience/plan/issues/41) and preparation for wow.
## Assignment

Still behind on this, I only have an outline :(
## Resources

![screen shot 2016-01-15 at 10 52 38 am](https://cloud.githubusercontent.com/assets/1559703/12357473/1456e168-bb76-11e5-89e3-9ea5e55ec56e.png)

cc/ @zee-moz @stephwright

[2016-01-15 15:54] #51 closed, assigned to auremoser

[2016-01-15 17:00] kaythaney commented on #36
Update: next steps with bocoup would be to share the current design brief (OK to be in progress) with them, and hop on a call. @acabunoc - they're jess @ bocoup.org + brian @ bocoup.org . Let me know if you need any help!

[2016-01-15 17:03] kaythaney opened #52 "Assessment (network-level)"
- [x] Schedule time for Adam + KT to speak with Network Impact
- [x] Start a draft scope for that work
- [x] Share with Adam + Chris for feedback

[2016-01-15 17:04] kaythaney commented on #52
Update: Meeting scheduled for Jan. 27.

[2016-01-15 17:43] kaythaney commented on #44
Started to build a proposal off of Gigabit Hive's model. Would love contributions on the questions at the top: https://docs.google.com/a/mozilla.com/document/d/1cf13SK8Fu60GYei2o0KhAP9plv1u0LkbjIRZCGyreJU/edit?usp=sharing ( @acabunoc @auremoser @stephwright @arlissc @zee-moz )

[2016-01-15 18:52] kaythaney commented on #42
@zee-moz aurelia and i have been capturing the CoC (and for her, github netiquette) outlines in this pad. CoC starts under line 211: https://public.etherpad-mozilla.org/p/WOW-contrib (cc @auremoser)

[2016-01-15 18:57] zee-moz commented on #42
@kaythaney @auremoser can you add your links and use the checklist in the WOW repo? more info and process stuff there. https://github.com/mozillascience/working-open-workshop/issues/6

[2016-01-15 19:33] auremoser commented on #42
@zee-moz would you like me
- [ ] to split them into separate etherpads then?
- [ ] or make them into markdown documents in the repo

[2016-01-15 21:07] abbycabs opened #53 "Creating a "Supported by Mozilla Science Lab" badge"
**where this will be used**
This will appear in the GitHub readme on the Fellow's projects and the Open Leadership Cohort projects that we are actively mentoring

**logo**
Include the Mozilla Science Lab logo: https://assets.mozilla.org/portal/assets/#category/23

**questions**
Will this link to something? Collaborate? Science Lab home page?
- [x] Copy - "Supported by Mozilla Science Lab"
- [ ] De

[2016-01-19 20:35] auremoser commented on #41
Update workweek schedule: [mslparty-WOW](https://public.etherpad-mozilla.org/p/wow-mslparty)

[2016-01-21 21:32] abbycabs commented on #38
Landing page look good! Closing this issue :tada: :+1:

[2016-01-21 21:32] #38 closed, assigned to nobody

[2016-01-22 01:10] auremoser commented on #38
Great :)

[2016-01-22 01:39] arlissc commented on #38
The landing page looks great ...

[2016-01-22 04:42] auremoser opened #54 "Fellows Weekly Calls 2015 (recurring)"
2015 Science Fellows Weekly Calls
Every Thursday, 1pm EST
**owner**: Aurelia
- [x] Nov 19 https://public.etherpad-mozilla.org/p/2015-science-fellows-nov19
- [x] Dec 03 https://public.etherpad-mozilla.org/p/2015-science-fellows-dec03
- [x] Dec 16 https://public.etherpad-mozilla.org/p/2015-science-fellows-dec16
- [x] Jan 07 https://public.etherpad-mozilla.org/p/2015-science-fellows-jan07
- [x] Jan 1

[2016-01-22 04:56] auremoser opened #55 "Hive Chicago Buzz"
Hive Chicago Buzz January 22nd-23rd
#### Prep
- [x] arrange ticket/accommodation
- [x] join slack channel, working groups, attend prelim calls
- [x] pitch/apply for workshop
- [x] plan [workshop on mapping](https://github.com/auremoser/HCB-mapping) (90 min)
- [x] plan longer working session w/ DBild + SLynn (4 hours)
#### Event
- [x] attend event (22-23), take pictures
- [x] attend MozStaff follow

[2016-01-22 05:03] auremoser opened #56 "Conferences - CSV/IPAMS"
**owner**: Aurelia
- [x] apply [CSV Conf ](http://csvconf.com/)
- [x] receive [IPAMS](http://www.ipam.ucla.edu/programs/long-programs/culture-analytics/)
#### Logistics
- [x] arrange travel, accommodation - Berlin
- [x] arrange travel, accommodation - LA
- [x] make calendar events for dates, request appropriate time off
- [x] determine work schedule/time zone during these times
- [x] arrange with

[2016-01-22 05:36] auremoser opened #57 "Cross-Fellowship Fusion"
**owner**: @auremoser

Some attempts to collaborate with fellow fellows' programs, principally:
- Tech Exchange Fellows
- [Open Web Fellows](https://advocacy.mozilla.org/open-web-fellows/)
- [Open News Fellows](https://opennews.org/what/fellowships/)
- [Open Science Fellows](https://www.mozillascience.org/fellows)
#### Events
- [x] [WOW Berlin](https://mozillascience.org/working-open-workshop-febr

[2016-01-22 05:39] auremoser opened #58 "#Privacy Month Support"
**owner**: @auremoser
- Tweet about online privacy using #PrivacyMonth
- Check out the privacy tips in the [daily archive](https://wiki.mozilla.org/India/task_force/Policy_and_Advocacy/January_Privacy_Month_Campaign#Tip_Of_The_Day_Archives)

[2016-01-22 05:45] auremoser opened #59 "Explore Phase: Fellow Blog Feedback"
**owner**: @auremoser

Review and process explore phase blogs and get them posted
- [x] review/merge queued blogs in wordpress
- [x] make schedule and alert team
  - [x] Joey [ 2/23/16 ]
  - [x] Jason [ 2/25/16 ]
  - [x] Christie [ 2/18/16 ]
  - [x] Richard [ 2/16/16 ]
- [x] process interview blogs and review
- [x] reach out to fellows about posting blogs on their blogs
- [x] create summary blog w

[2016-01-22 06:54] auremoser opened #60 "Blog about Research Fox Kits"
**owner**: @auremoser
**cc**: @stephwright @kaythaney
- [x] create form/survey to solicit addresses: http://goo.gl/forms/Dow83mjMzT
- [x] write [draft blog](https://public.etherpad-mozilla.org/p/msl-swagkits)
- [x] gather image assets
- [x] followup with folks who asked for stickers already, get them to fill out the form
- [x] select "winners"
- [x] assemble swag kits (padded envelopes)
- [x] asse

[2016-01-26 17:34] auremoser commented on #55
Blog post [here](https://mozillascience.org/hive-chicago-buzz), closing issue!

[2016-01-26 17:34] #55 closed, assigned to auremoser

[2016-01-28 23:00] kaythaney commented on #52
Kickoff meeting held with Network Impact held on Jan 27. Will be back to us with next steps soon.

[2016-01-28 23:00] #52 closed, assigned to kaythaney

[2016-01-28 23:01] kaythaney commented on #42
@zee-moz @auremoser code of conduct handout is UP: https://github.com/mozillascience/working-open-workshop/blob/master/handouts/code_of_conduct.md

[2016-01-29 11:18] auremoser commented on #42
Looks awesome! I'll follow suit with the Contributing.md file :). Thanks so much @kaythaney for doing such a stellar job on this.

[2016-01-29 14:58] auremoser opened #61 "Study Group Call - February 2016"
February Study Group Call checklist! 2/12/15
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-february-2016
- [x] make event http://localhost:5000/community-call-feb-11-11-et
- [x] contact speakers Study Group Leads with reminder

**Monday before (2/8/16)**
- [x] email leaders a reminder
- [x] schedule tweets

**Call**
- [x] have call

**Post-cal

[2016-01-29 17:47] #39 closed, assigned to abbycabs

[2016-02-04 08:42] kaythaney commented on #59
when are we thinking the staged posts on the MSL blog will go live again?

[2016-02-04 09:48] auremoser commented on #59
I was going to stage them for this week but it got too crazy. I think I'll try to make them for Monday after Wow, or maybe the tuesday after the WOW wrap up post.

[2016-02-04 14:01] abbycabs commented on #47
## Requirements to get on Collaborate

Some of these documents will be constantly changing as you work on your project. Don't worry about having a perfect Roadmap or README before you launch on Collaborate!
1. project on GitHub
2. open LICENSE
3. readable README
4. Issues teased out in the issue tracker
   - Have "good first bugs"
5. CONTRIBUTING.md: contributor guidelines
   - with a way to get i

[2016-02-09 19:54] abbycabs opened #62 "Project Call - Feb 25"
February Project Call checklist!
owner: @acabunoc
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-project-call-feb25-2016
- [x] make event https://mozillascience.org/project-call-feb-25
- [x] setup hangouts on air: https://plus.google.com/b/108916025871908560628/events/cparnielluqpb1g8pbjkmukgb0s?gmbpt=true&hl=en
  - speaker link: https://hangouts.google.com/call/sooe6heukbkqq

[2016-02-11 00:11] auremoser commented on #47
## Study Group Ideas

Some modifications here for study group projects, modeled after the "General Ideas" above and the issues in the WOW repo.

cc/ @acabunoc
- [ ] set broad milestones (global sprint, run a local sprint, get on Collaborate) - cohort wide. Rough dates:
  - Collaborate launch: March 2016
  - Local event: March - April 2016
  - Global sprint: ~May 2016
- [ ] bi-weekly (every two wee

[2016-02-17 01:20] auremoser commented on #59
Content Calendar available [here](https://docs.google.com/spreadsheets/d/18IACe9eSaDXkILieeQYmDHxCsM9pBNOqFFDtswzdG98/edit#gid=0)

[2016-02-17 01:29] auremoser opened #63 "Study Group Call - March 2016"
March Study Group Call checklist! 3/4/15
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-march-2016
- [ ] make event
- [x] contact speakers Study Group Leads with reminder

**Monday before (2/29/16)**
- [x] email leaders a reminder
- [x] schedule tweets

**Call**
- [x] have call

**Post-call**
- [ ] followup mailing list  and sum-up
- [x] tweet

[2016-02-17 01:29] #61 closed, assigned to auremoser

[2016-02-18 16:22] auremoser opened #64 "Community Call - April"
April Community Call checklist! 3/10/16
owner: @auremoser
- [x] make [etherpad](https://public.etherpad-mozilla.org/p/sciencelab-calls-apr14-2016)
- [x] make event
- [x] confirm speakers on Open Assets (Fairpixels, Changefix)

**Thursday before (4/7/16)**
- [x] email speakers, remind them of call, ask them to add to the agenda, ask to join 5 min early
- [x] email mailing list with call announcemen

[2016-02-23 03:20] #41 closed, assigned to auremoser

[2016-02-23 03:20] #58 closed, assigned to auremoser

[2016-02-23 03:21] #50 closed, assigned to auremoser

[2016-02-23 03:21] #42 closed, assigned to auremoser

[2016-02-24 16:47] abbycabs opened #65 "Setup OLC Meetings"
For each meeting, on the etherpad, put their main objectives and timeline at the top of the pad

For @acabunoc:
- [x] [Madeleine - PhageParser](https://public.etherpad-mozilla.org/p/wow-phageparser)
- [x] [Bastian](https://public.etherpad-mozilla.org/p/wow-bastian)
- [x] [Achintya - Open Cosmics](https://public.etherpad-mozilla.org/p/wow-achintya)
- [x] [Brian](https://public.etherpad-mozilla.org/

[2016-02-24 16:47] abbycabs commented on #65
To do before the 2nd mtg with each group. I'll put an example up soon!

[2016-02-24 16:58] auremoser commented on #65
Thanks Abby!

[2016-02-24 17:36] abbycabs commented on #65
Sample up on Bastian's etherpad: https://public.etherpad-mozilla.org/p/wow-bastian

Let me know if this looks good to you -- feel free to modify!

[2016-02-25 21:24] #62 closed, assigned to nobody

[2016-02-26 16:27] abbycabs commented on #62
Recording is here: http://www.youtube.com/watch?v=vBQrIDZKMK8

[2016-02-26 23:12] auremoser commented on #65
Did all for the next date, except @acabunoc and a few for the following week, thanks for patience!

[2016-02-29 20:42] abbycabs opened #66 "March Project Call"
March Project Call checklist!
owner: @acabunoc
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-project-call-mar24-2016
- [x] make event https://www.mozillascience.org/project-call-march-24
- [x] setup hangouts on air:http://www.youtube.com/watch?v=cy_xQNWb4IQ
  - speaker link: https://hangouts.google.com/call/jyw6leu7b5d3rdcyesc2w4fuqea
- [x] ask someone to emcee
- [x] ask som

[2016-03-04 18:52] #65 closed, assigned to nobody

[2016-03-07 04:29] auremoser opened #67 "Community Call - May"
May Community Call checklist! 5/12/15
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-may12-2016
- [x] make [event ]()
- [x] make [blog post]()

**Thursday before (5/3/16)**
- [x] email speakers, remind them of call, ask them to add to the agenda, ask to join 5 min early
- [x] email mailing list with call announcement
- [x] -7d tweet

**Monday before (5

[2016-03-07 05:55] #59 closed, assigned to auremoser

[2016-03-07 05:57] #60 closed, assigned to auremoser

[2016-03-10 17:32] #46 closed, assigned to arlissc

[2016-03-11 18:11] stephwright opened #68 "Update old image links in blog to https: instead of http:"
Recent updating of wordpress leads to missing images if the link is http: instead of https. (per @jbuck email to @stephwright 2016-03-11)

[2016-03-11 22:09] stephwright commented on #68
@acabunoc ran a script & fixed!  Yay!!! :tada:

[2016-03-11 22:09] #68 closed, assigned to nobody

[2016-03-21 20:02] #48 closed, assigned to stephwright

[2016-04-06 15:30] kaythaney commented on #44
Postponed until Q4. Going to close for now.

[2016-04-06 15:30] #44 closed, assigned to kaythaney

[2016-04-06 15:31] kaythaney commented on #45
Filed!

[2016-04-06 15:31] #45 closed, assigned to kaythaney

[2016-04-06 15:31] #28 closed, assigned to nobody

[2016-04-11 23:00] #66 closed, assigned to nobody

[2016-04-11 23:01] abbycabs opened #69 "Project Call - April"
March Project Call checklist!
owner: @acabunoc
- [x] make etherpad : https://public.etherpad-mozilla.org/p/sciencelab-project-call-apr28-2016
- [x] make event : https://www.mozillascience.org/project-call-april-28
- [x] setup hangouts on air: http://www.youtube.com/watch?v=0IM45uz5F0k
  - speaker link: Join my call: https://hangouts.google.com/call/pegdskvsxvfobiivu64dp7uloqe
- [x] ask someone to

[2016-04-15 23:43] abbycabs opened #70 "mozsprint ROADMAP"
**ROADMAP:**

**T-12 Weeks: (week of Feb 29 2016)**
- [x] Build Global Sprint PLAN
- [x] Kick-off Meeting - Proposed:  Wednesday March 09, 10:30 AM ET
- [x] SAVE THE DATE - blog post / email blast / Twitter post (maybe once blog post is written)
- [x] Finalize Project Team roles & responsibilities
- [x] Design Project submission form (new for 2016)
- [x] Design Site Host submission form (new for 2

[2016-04-15 23:44] abbycabs opened #71 "[mozsprint] Special Questions for Open Data submissions"
Identify questions needed for open data submissions.
Such as:
Data Stuff
- where is the data stored ?
  - Is it accessible by everyone?
  - If not, what needs to happen so participants can access?
- in what format is the data?
  - do participants need special and/or non-open software to use the data?
- are there licensing (or other) restrictions on the data for reuse?
- how large is the data file/

[2016-04-15 23:46] abbycabs opened #72 "Global Sprint 2016 - PLAN"
Here is the link to the planning document for the Global Sprint 2016

https://docs.google.com/a/mozilla.com/document/d/1COL9rNBvVEVVPod3ecAIdE53736ut0xhsOo-ZyxJEb4/edit?usp=sharing

---

Migrated from: https://github.com/mozillascience/global-sprint-2016/issues/1

[2016-04-21 15:30] stephwright commented on #71
@acabunoc
Have we had any submission around open data yet?

[2016-04-21 17:20] abbycabs commented on #71
https://github.com/mozillascience/global-sprint-2016/labels/%5BTrack%5D%20Open%20Data

[2016-04-21 17:33] stephwright commented on #71
Duh... labels.  Thanks @acabunoc

[2016-04-22 16:56] abbycabs commented on #71
Also, feel free to re-label! Most of those are self-sorted

[2016-04-26 20:50] stephwright opened #73 "Add blog content spreadsheet to blog.md?"
Just thinking might be good idea to add the link to the content schedule to the .md on how to post to the blog.

If so, set link to anyone at Mozilla can edit or only specific ppl?

[2016-04-29 19:31] stephwright opened #74 "Create a resource of favorite presentations/speakers at conferences"
I'm thinking a Google form that we all fill out for conferences we go to with:
Conference
Dates
Location
Speaker
Presentation Topic
Link to details
What made it great

[2016-05-02 14:56] stephwright commented on #74
https://docs.google.com/a/mozillafoundation.org/forms/d/19beMcoAyJOX7HO6WWMZ-LDp72J1u7nW2hUYeLME7jcc/edit?usp=drive_web

[2016-05-06 09:20] #64 closed, assigned to auremoser

[2016-05-06 09:21] #57 closed, assigned to auremoser

[2016-05-06 10:31] auremoser opened #75 "University Outreach - Spring"
- [x] 5/2/16 - Remote talk at UW Stephen's Point on open science and geospatial viz - [slides](https://docs.google.com/presentation/d/1wF_Rb4dl-Ac9ECieVuqwj-Jq-II9Ei2_aRHwrfZnwSo/edit)
- [x] 5/14/16 - Rutgers Coding bootcamp talk - [slides](https://docs.google.com/presentation/d/14l_N4RkJhRyuOqZCSrTVVLcpBC9QoqlBUH31No2z_LA/edit#slide=id.g12f2d6e420_0_177)

[2016-05-06 10:33] auremoser opened #76 "IPAM Talk - 5/30/16"
open science vis, topic open - 2 hours
- [x] give talk
- [x] prep slides

[2016-05-06 10:33] #63 closed, assigned to auremoser

[2016-05-06 10:35] auremoser opened #77 "Study Group Learning Call - 5/20/16"
May Study Group Call checklist! 5/20/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-may-2016
- [ ] make event
- [ ] contact speakers Study Group Leads with reminder - Richard
- [x] define theme - BioJulia

**Monday before (5/16/16)**
- [ ] email leaders a reminder
- [ ] schedule tweets

**Call**
- [ ] have call

**Post-call**
- [ ] followup

[2016-05-06 10:37] #56 closed, assigned to auremoser

[2016-05-06 10:44] auremoser commented on #56
[Slides](https://docs.google.com/presentation/d/1_wUOUG0Piz2N5t2A9aEI_Ngg6OX6yRDSnFeoF2HAIXQ/edit#slide=id.g12efa73297_1_774)
[References](https://gist.github.com/auremoser/6da438d36333f9d97b2c277303a988b7)
[Notes](https://github.com/auremoser/mozsci/blob/master/projects/16-05-csv-notes.md)

[2016-05-06 10:53] auremoser opened #78 "Study Group Learning Call - 5/20/16"
May Study Group Call checklist! 5/20/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-may-2016
- [ ] make event
- [x] contact speakers Study Group Leads with reminder - Richard
- [x] define theme - BioJulia

**Monday before (5/16/16)**
- [ ] email leaders a reminder
- [ ] schedule tweets

**Call**
- [ ] have call

**Post-call**
- [ ] followup

[2016-05-06 10:53] #78 closed, assigned to nobody

[2016-05-06 11:00] auremoser opened #79 "Community Call - 6/9/16"
June Community Call checklist! 6/9/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-jun09-2016
- [x] make event
- [x] contact speakers - PaperHive/Rapid Science
- [x] define theme - Collaborative space-makers

**Thursday before (6/2/16)**
- [x] schedule tweets

**Monday before (6/6/16)**
- [x] email speakers a reminder

**Call**
- [x] have call

**Pos

[2016-05-06 12:22] auremoser opened #80 "Add MSL Commitments to Gantt chart"
- [ ] add [dates + milestones](https://docs.google.com/spreadsheets/d/12Wur2T-mINVWl5Y58EgsjufB9vFLJ_KC0hUhVTjKOj4/edit?ts=5706c0d0#gid=0)
- [ ] fix tooltip issue

[2016-05-06 15:20] stephwright opened #81 "Open Data Open Mic for FENS"
- [ ] work w/ @auremoser & @arlissc to get swag pack to @univ3573 for FENS

[2016-05-12 18:49] auremoser opened #82 "Fellows' Phase 3 Exercises"
Assembled materials for test/share phase (starts May 15) as listed in the [fellows' repo roadmap](https://github.com/mozillascience/fellows-class-2015/blob/master/roadmap.md#testshare-may-june-2016)

Here are the draft exercises:
- [Meta résumé exercise](https://github.com/mozillascience/fellows-class-2015/blob/master/test/1-resume.md)
- [Documentation exercise](https://github.com/mozillascience/f

[2016-05-12 19:05] abbycabs commented on #82
Read through these! Nice work @auremoser 👍 💯 🎉

I especially like the Meta Resume and the reto-blogging seems like a great way to encourage the next set of fellows.

The Documentation exercise itself is great! By adding to phase 3, I'm slightly worried that the Documentation exercise is encouraging people to leave their project documentation to the very end? A lot of our WOW stuff asks people to d

[2016-05-12 19:30] auremoser commented on #82
Thanks @acabunoc , fair point well-made.
I think the goal here was to make sure that they document, period, or polish their documentation. I'll add some language to clarify that. Thanks!

[2016-05-12 19:48] auremoser commented on #82
Added 👍

[2016-05-12 19:49] abbycabs commented on #82
👍

[2016-05-12 20:09] zee-moz commented on #82
These look awesome! I corrected a typo and added a section heading
(Connections) that seemed to be missing from the resume doc. I LOVE the
resume exercise-- it's something I think could be helpful from the
beginning, and fellows could fill it out as they go. A good way to measure
ongoing progress.

Early in the fellowship, we asked them to think about project
sustainability. I'm not sure how much

[2016-05-12 20:12] auremoser commented on #82
Yes, totally @zee-moz . I linked to the sustainability plan in the documentation exercise, so hopefully they'll go back and review! Thanks for the corrections!

[2016-05-12 20:19] zee-moz commented on #82
Cool. I wonder if this is something we should require for all projects, not
just the one that they are documenting-- like, if we want to refer to or
follow up with the project in future (for reporting, for materials for
funders, for our own assessment of fellowship program impact), where and in
what state can we expect to find it, who's maintaining, etc.

z

On Thu, May 12, 2016 at 4:12 PM, Aureli

[2016-05-12 20:24] auremoser commented on #82
Yeah, I think that makes sense, it's something I could probably work into the closing activities/launch in august, maybe we could ask them in their exit interviews to revisit sustainability..

[2016-05-13 14:45] auremoser opened #83 "Africa: Study Group Onboarding"
Meeting with Anelda's students to onboard/mentor study groups à la OLC.
- [ ] Thursday, 5/19, 9am EST
- [ ] Friday 5/20, 9am EST
- [ ] Tuesday 5/24, 9am EST
- [ ] Monday 5/30, 9am EST

[2016-05-16 15:30] #69 closed, assigned to abbycabs

[2016-05-16 15:31] abbycabs opened #84 "May Project Call"
May Project Call checklist!
owner: @acabunoc
- [x] make etherpad : https://public.etherpad-mozilla.org/p/sciencelab-project-call-may26-2016
- [x] make event : https://www.mozillascience.org/project-call-may-26
- [x] setup hangouts on air: http://www.youtube.com/watch?v=qX-qWByGeLU
  - speaker link: Join my call: https://hangouts.google.com/call/ak6gitbpire37lx5yxllptfpdqe
- [x] ask someone to emce

[2016-06-08 19:57] #84 closed, assigned to abbycabs

[2016-06-08 19:58] abbycabs opened #85 "June Project Call"
June Project Call checklist!
owner: @acabunoc
- [x] make etherpad : https://public.etherpad-mozilla.org/p/sciencelab-project-call-june23-2016
- [x] make event : https://science.mozilla.org/programs/events/project-call-june-23
- [x] setup hangouts on air: http://www.youtube.com/watch?v=zy6iJ9tMtf4
  - speaker link: Join my call: https://hangouts.google.com/call/76tfgmm625b5lddkjhfemutzmue
- [x] ask

[2016-06-11 15:31] solstag opened #86 "Newsletter isn't on the blog"
Hi,

I always find the Mozilla Science newsletter quite interesting, however I also find it really disturbing that I can't point people to a post of it, whether on the Mozilla Science Blog or elsewhere.

I would like to ask that the newsletter be posted to the blog as well, so we can reference it through a URL and also to make it clear it has a CC-BY license so it can be reused elsewhere.

I'm fil

[2016-06-11 15:37] solstag commented on #86
By the way, I'm aware that the newsletters can be found on the mailing list archives.

Unfortunately, mailman archives are even less convenient and publicly visible than my mailbox. : P

There's also the positive aspect that it would fit nicely into the blog, and make the license clear. =)

[2016-07-08 17:33] abbycabs commented on #86
flagging @auremoser ^

[2016-07-08 18:05] auremoser commented on #86
Thanks for the suggestions @solstag ! Our newsletters are publicly archived on TinyLetter, which is a little more user-friendly than mailman when it comes to the interface!

http://tinyletter.com/sciencelab/archive
It is linked off our subscribe page: http://tinyletter.com/sciencelab/

We like to keep the blog tidy with posts that we then reference in the newsletter, but I can try to cross-post th

[2016-07-11 14:35] #79 closed, assigned to auremoser

[2016-07-11 14:36] stephwright commented on #81
FENS wanted big $$... not working this year.

[2016-07-11 14:36] #81 closed, assigned to stephwright

[2016-07-11 14:36] auremoser opened #87 "Community Call - 8/11/16"
August Community Call checklist! 8/11/16
owner: @auremoser
consulted: @zee-moz + @stephwright
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-aug11-2016
- [x] make event https://science.mozilla.org/programs/events/community-call-aug-11-11-et
- [x] contact speakers - in pad
- [x] define theme - Geospatial / Map Sciences

**Thursday before (8/4/16)**
- [x] schedule tweets

[2016-07-11 17:24] #77 closed, assigned to auremoser

[2016-07-11 17:26] auremoser opened #88 "Study Group Learning Call - 7/15/16"
May Study Group Call checklist! 7/15/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-july-2016
- [x] make event on site
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder - Joey
- [x] define theme - Github

**Monday before (7/11/16)**
- [x] email leaders a reminder
- [x] schedule tweets

**Call**
- [x] have call

**Po

[2016-07-11 17:27] #76 closed, assigned to auremoser

[2016-07-11 17:28] #82 closed, assigned to nobody

[2016-07-11 17:28] #86 closed, assigned to nobody

[2016-07-11 17:29] #67 closed, assigned to auremoser

[2016-07-11 17:32] #43 closed, assigned to auremoser

[2016-07-13 12:58] solstag commented on #86
Cool, I had never seen the tinyletter page. Here's our first translation, for May:
https://www.cienciaaberta.net/newsletter-maio-mozilla-science/
I see the June newsletter has also been published, but I never got it by mail.
Have you ceased sending it to the mozilla science mailing list? So, should I subscribe specifically for the newsletter?
You could warn the list about that, don't remember seei

[2016-07-13 13:02] auremoser commented on #86
Thanks for the feedback @solstag , we just switched to tiny letter a few months ago and we've been having troubles getting it to post to the regular list. I send out a tweet about the tinyletter subscription about once a month, but for a time I had thought it was going to the mozillascience list so I didn't re-post.

For the time being, please do subscribe to the tiny letter page.

Thank you for t

[2016-07-13 13:05] solstag commented on #86
Got it. You too!

[2016-07-14 21:56] #85 closed, assigned to nobody

[2016-07-14 21:57] abbycabs opened #89 "July Project Call"
June Project Call checklist!
owner: @acabunoc
- [x] make etherpad : https://public.etherpad-mozilla.org/p/sciencelab-project-call-july28-2016
- [ ] make event :
- [x] setup hangouts on air: http://www.youtube.com/watch?v=MlRPzgYZYZY
  - speaker link: Join my call:
- [ ] ask someone to emcee
- [x] ask someone to share some 'best practices in open source'

Three weeks before
- [ ] confirm emcee
- [

[2016-07-19 13:57] auremoser opened #90 "Study Group Learning Call - 8/12/16"
May Study Group Call checklist! 7/15/16
owner: @auremoser
cc: @stephwright @zee-moz
- [ ] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-august-2016
- [ ] make event on site
- [ ] email listserv
- [ ] contact speakers Study Group Leads with reminder
- [ ] define theme

**Monday before (8/8/16)**
- [ ] email leaders a reminder
- [ ] schedule tweets

**Call**
- [ ] have

[2016-07-22 06:49] stephwright commented on #73
Added

[2016-07-22 06:49] #73 closed, assigned to nobody

[2016-07-22 06:50] stephwright commented on #74
Move this to the internal drive so we can close this issue?

[2016-07-22 06:50] #71 closed, assigned to stephwright

[2016-08-05 18:25] #90 closed, assigned to nobody

[2016-08-05 18:28] auremoser opened #91 "Community Call - 10/13/16"
August Community Call checklist! 10/13/16
owner: @auremoser
consulted: @KGorr
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-oct13-2016
- [x] make event on science.mozilla.org
- [x] contact speakers - in pad
- [x] define theme - STEMM + Women in Science/Web LIt

**Thursday before (10/6/16)**
- [x] schedule tweets [templates](https://docs.google.com/document/d/19P_G3sJVo

[2016-09-03 04:28] #72 closed, assigned to arlissc

[2016-09-03 04:35] stephwright commented on #74
Added to internal drive

[2016-09-03 04:35] #74 closed, assigned to stephwright

[2016-09-03 04:38] stephwright opened #92 "Strategic Planning Agenda 10/10-11/2016"
Please add items @auremoser and @zee-moz
- [ ] Prioritization of projects / responsibilities
- [ ] Strategic Community Engagement Plan
  - [ ] Expanding Network: DLF, OpenCon, AAAS, ELPUB, Libraries
- [ ] Communication Plan
  - [ ] Marketing and PR plan
- [ ] Assessment & Metrics needs
- [ ] Budget + financial planning
  - [ ] fundraising needs
- [ ] Maximizing resources / effort
  - [ ] Study Gro

[2016-09-06 14:45] auremoser commented on #92
I added some discussions of budget and marketing, so we know for example:
- When do we send people swag and promotional materials?
- What are our expectations for ad-hoc mini-grants (like a blog post from the mini-grant applicant)?
- What are some ceilings/basic numbers to keep in mind and the appropriate process for requesting approvals?

[2016-09-06 14:46] stephwright commented on #92
Awesome!  Thanks @auremoser !

[2016-09-09 21:12] stephwright opened #93 "Add info for Appreciation Nominations"
Ask from: @acabunoc , @arlissc , @auremoser , @zee-moz , @kaythaney
Due 9/16

Please fill in as many fields as you can in this spreadsheet per our discussion at the Staff mtg:
https://docs.google.com/spreadsheets/d/1OAGV4EIgc2qe_-HPy3S0hiQTwG19DVxgalleVbIln3k/edit#gid=475353825

[2016-09-09 21:17] stephwright opened #94 "Feedback on 2016 Fellows Roadmap"
Ask from: @arlissc , @acabunoc , @zee-moz , @kaythaney , @stephwright

Per Aurelia's email and our team meeting:
I'd love to have any corrections, edits, feedback or suggestions for this document so I can give them the best version possible:

https://github.com/mozillascience/fellows-class-2016/blob/master/roadmap.md

Notes:
- the exercises link to varying versions of the old exercises, I'm updati

[2016-09-09 21:19] stephwright commented on #91
What help are you wanting on this, @auremoser ?

[2016-09-09 21:26] auremoser commented on #91
Speaker suggestions, maybe with the bookchat too...going to start publicity on that the week we get back from onboarding, would love if you could join in the twitter convo, @stephwright !

[2016-09-12 13:30] zee-moz commented on #94
@stephwright hey there,
given how the last round of fellows used the Roadmap (mostly not at all, as it didn't fit with Joey and Richard's many little sprinty projects, didn't seem to work for Jason at all, and was not aligned to Christie's academic calendar and project scope). Consequently, we gave them assignments that they first struggled with, then did half-heartedly, and eventually just ignore

[2016-09-12 13:37] abbycabs commented on #94
+1 to Zannah's suggestions - especially letting them set their own roadmap around their own goals for the fellowship

[2016-09-13 03:36] stephwright commented on #94
Hey there... there's a lot here so I'll respond by numbers.  I'll let @auremoser respond too though she's busy with Vanessa tonight rewriting how onboarding will be done tomorrow because of things we saw and heard during today's session:

1: Great idea.  Not going to happen during onboarding as we've had to revamp the week to focus on keeping the two groups of Fellows together as one onboarding gr

[2016-09-13 04:25] auremoser commented on #93
Gave feedback on everyone I knew, and tried to fill out all fields I could!

[2016-09-13 04:53] auremoser commented on #94
Thanks @stephwright for the followup.

Sorry I missed this feedback because I didn't see the issue until now.

One thing to note, is that I hadn't re-written the exercises yet, I updated the links but kept a lot of content in, so some of them haven't been edited, and my intent was to make them simpler, shorter. I tried to explain this in the email, and I'm sorry if it didn't come across as I'd hop

[2016-09-13 16:49] stephwright commented on #93
Thankyou! 🙇

[2016-09-22 23:17] stephwright commented on #93
Thanks for the feedback everyone... I submitted our spreadsheet to Rizwan.  Some of you may be asked to provide follow-up.  Closing this issue for now.  Likely to come up again in future as we plan for how we want to track and recognize contributions.

[2016-09-22 23:17] #93 closed, assigned to kaythaney, abbycabs, arlissc, zee-moz, stephwright

[2016-09-23 14:50] #88 closed, assigned to auremoser

[2016-09-23 14:52] auremoser opened #95 "Study Group Learning Call - 10/7/16"
May Study Group Call checklist! 7/15/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-october-2016
- [x] make event on site
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder - Joey
- [x] define theme

**Monday before (7/11/16)**
- [x] email leaders a reminder
- [x] schedule tweets

**Call**
- [x] have call

**Post-cal

[2016-09-23 17:52] #87 closed, assigned to nobody

[2016-09-23 17:52] #83 closed, assigned to auremoser

[2016-09-23 17:53] #75 closed, assigned to auremoser

[2016-09-27 11:49] auremoser opened #96 "Fellows Weekly Calls 2016 (recurring)"
2015 Science Fellows Weekly Calls
Every other Wednesday, 3pm EST
**owner**: Aurelia
- [x] Sept. 28 https://public.etherpad-mozilla.org/p/2016-science-fellows-sept28
- [x] Oct. 12 https://public.etherpad-mozilla.org/p/2016-science-fellows-oct12
- [x] Nov. 9 https://public.etherpad-mozilla.org/p/2016-science-fellows-nov09
- [x] Nov. 23 https://public.etherpad-mozilla.org/p/2016-science-fellows-nov23

[2016-11-04 19:01] stephwright commented on #36
@acabunoc can we close this?

[2016-11-04 19:02] #36 closed, assigned to nobody

[2016-11-04 19:03] stephwright commented on #47
Sounds like we need to review this in our Pathways discussion for WOWs, mentorship, OLTS.  Shall I set up a mtg for us to discuss this?  Anyone else need to be in on the discussion at this point?

[2016-11-04 19:08] stephwright commented on #94
@auremoser where do you feel we are on the Roadmap? if we aren't ready to close this, what are our next steps?

[2016-11-04 19:09] stephwright commented on #80
Hey @auremoser ... where are we with this one?

[2016-11-04 19:11] stephwright commented on #5
Hey @auremoser and @zee-moz ... are we at a point where we want to pull what we want out of this issue, close it and start a new one w/ new plans for Study Groups or how should we proceed on this?

[2016-11-04 19:13] stephwright commented on #30
@kaythaney okay to close this issue?

[2016-11-04 19:13] stephwright commented on #32
Hey @arlissc ... can you give me any info on this?  is it close-able?

[2016-11-04 19:14] kaythaney commented on #30
yep!

sent on the move. apologies for typos.

[2016-11-04 19:30] #30 closed, assigned to kaythaney

[2016-11-04 19:55] auremoser opened #97 "Mozilla Science Study Group Program Reboot"
Borrowed from #5

cc/ @zee-moz @stephwright

Some takeaway to-dos:

* [ ] Calendar Sync, check with @acabunoc to make sure that's working as we expect
* [ ] Define roles for communications: interest form outreach, mentorship followup, gitter chat, initial issue post after they fork
* [ ] Define and document regional strategy (already done by @zee-moz)
* [ ] Localize assets/resources to one locatio

[2016-11-04 19:56] auremoser commented on #5
Sounds good!

I think we could revisit the calendar setup, roles for comms, and some index of assets and locations, shareable by all.

I've created an issue for this here #97

[2016-11-04 19:56] #5 closed, assigned to auremoser, zee-moz, stephwright

[2016-11-04 20:02] auremoser commented on #94
We're doing well actually, @stephwright , it's updated through the next two months, with changes suggested by @zee-moz and +1'd by @acabunoc.

I'm going to try to develop it more organically as the cohort progresses, getting back into the groove next week now that Mozfest is over. I feel better about this, going to try to incorporate some activities to revisit their goal exercises, push hard on th

[2016-11-04 20:03] auremoser commented on #80
@stephwright, no where right now.
I haven't had time to update. I'll put it on my list for next week.

[2016-11-04 20:13] zee-moz commented on #5
Thanks for making the new issue.  I'll take a look Wednesday after PTO--
rushing to get some orientation stuff done this afternoon.
Thanks!
Z

On Fri, Nov 4, 2016 at 3:56 PM, Aurelia Moser notifications@github.com
wrote:

[2016-11-04 20:13] stephwright commented on #80
@auremoser is it worth doing this at this time or maybe wait until we have the new strat plan stuff available?

[2016-11-04 20:14] stephwright commented on #5
Thanks both!

[2016-11-04 20:15] stephwright commented on #94
Sounds great!  Thank you!!!

[2016-11-04 20:54] auremoser commented on #80
Good point, I can at least update the tentpole things in that linked spreadsheet, and then once we're ready with the strat plan, it might make sense to create a "status" site, like one with the map you mentioned and this gantt chart #workingopen

[2016-11-06 19:24] #54 closed, assigned to auremoser

[2016-11-18 20:08] stephwright commented on #47
Just sent an invite for this mtg :)

[2016-11-18 20:11] stephwright opened #98 "Review OLTS mentorship exit survey"
Making exit survey for most recent round of OLTS mentorship : NOT DONE YET STILL LOTS TO CHANGE: https://docs.google.com/form/d/e/1FAIpQLSczY6OtHuKXonq9skP6S36_m8e1S6MffAwi21IfSOZ9NX_cXQ/viewform
(copied from last round)

    What should I include in the OLTS exit survey?

[2016-11-18 20:13] stephwright opened #99 "Volunteers for Study Group Orientation calls week after Thanksgiving"
Need volunteers to talk about Open Science on SG orinetation calls week after thanskgiving

[2016-11-19 02:56] auremoser commented on #98
The link 404s for me @stephwright.
I would say including the following isn't a bad idea, though perhaps you already did, feel free to ignore:
- what did you learn from this experience?
- of what you learned, what would you feel comfortable teaching?
- what did we miss? what opportunities in leadership were not covered?
- how would you like to be involved in the future (checkboxes... guest on commu

[2016-11-19 02:58] auremoser commented on #99
I'm fine helping out again; I think Zannah and I made a good team.

Though, @acabunoc probably has a more informed background in bioinformatics. We could also ask one of the fellows, no?

[2016-11-21 15:11] zee-moz commented on #99
Teon and Kirstie are interested in helping out, per my request on the fellows gitter chat. FYI here are the times for the call. @stephwright can you join us at one? i will send around invites for the calls :)

Thursday, December 1 at 5pm UTC (9am PST, 11am CST, 12pm EST)
Friday, December  2 at 9am UTC (10am West Africa Time, 11am Eastern European Time,  2:30 pm Indian Standard Time, 4pm Indonesia

[2016-11-21 15:14] auremoser commented on #99
Excellent! Let me know if you need help with the Friday...4am EST is still probably better than 1am for PST.

[2016-11-21 16:24] stephwright commented on #99
I will join in on the Thursday one... have it in my calendar now.  Thanks for being willing to do the 4a stint, @auremoser .

[2016-11-21 16:28] stephwright commented on #98
hrm... it 404s for me now too...

[2016-11-21 16:32] abbycabs commented on #98
correct link: https://docs.google.com/forms/d/e/1FAIpQLSczY6OtHuKXonq9skP6S36_m8e1S6MffAwi21IfSOZ9NX_cXQ/viewform

[2016-11-21 17:01] zee-moz commented on #99
@auremoser @stephwright awesome! I am hoping that @cbahlai might be able to drop in to plug her course. Here's a rough plan for that session, we may do item 2 or item 3 or both, depending on who's available for each call.

###Meeting 3: Open Science 101
(Co-hosts: Kirstie, Teon, etc etc)
1. Intros and Updates
    * Name, location
    * What’s new?
    * Check in on goals
2. Open Data & Reproducibl

[2016-11-21 17:02] cbahlai commented on #99
OOh, I can do that!

[2016-11-21 17:03] stephwright commented on #99
I'm down with that, too!

[2016-11-21 17:53] auremoser commented on #99
+1 feel free to invite me to whatever meeting

[2016-11-21 18:40] auremoser commented on #98
Thanks!
My thoughts (feel free to ignore them, you have more experience with this community than I do):

* If this is what we used before we should totally use it again for consistency... having a bunch of similarly structured data would be great across programs
* Maybe to minimize question count we reduce free text fields asking "how can we improve/what could we do better next time" to one questi

[2016-11-21 19:23] stephwright commented on #98
+1 on consistency w/ some changes
also +1 on reduction of duplicative questions and integrating into one ?

Going to recommend keeping 5 pt Likert because research has shown the 5-pt is more likely to be answered... folks want more than just +/-, they also want an in-between, and apparently they also want more than just extremes and a middle.  To compensate, when analyzing a 5-pt Likert, most folk

[2016-11-21 19:32] abbycabs commented on #98
Thanks all! Very helpful!

[2016-11-22 00:01] #98 closed, assigned to kaythaney, abbycabs, auremoser, arlissc, stephwright

[2016-11-24 15:16] auremoser opened #100 "Study Group Learning Call - 12/2/16"
December Study Group Call checklist! 12/2/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-december-2016
- [x] make event on site
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder
- [x] define theme

**Monday before (11/28/16)**
- [x] email leaders a reminder
- [x] schedule tweets

**Call**
- [x] have call

**Post-cal

[2016-11-24 15:16] #95 closed, assigned to auremoser

[2016-11-24 15:16] #91 closed, assigned to auremoser

[2016-11-24 15:19] auremoser opened #101 "Community Call - 12/15/16"
December Community Call checklist! 12/15/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-dec15-2016
- [x] make event on science.mozilla.org
- [x] contact speakers - in pad
- [x] define theme - Ethics

**Thursday before (12/8/16)**
- [x] schedule tweets [templates](https://docs.google.com/document/d/19P_G3sJVoVv58YviHUlylMR3im18CJ0XblhXVRzjyW0/edit)

[2016-12-15 20:51] auremoser opened #102 "Community Call - 2/16/17"
February Community Call checklist! 2/16/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-feb09-2016
- [x] make event on science.mozilla.org
- [x] contact speakers - in pad
- [x] define theme - Art Science
- [x] contact Joe/OpenCon for cross-posting

**Thursday before (2/9/17)**
- [x] schedule tweets [templates](https://docs.google.com/document/d/19P_G

[2016-12-15 21:37] #101 closed, assigned to auremoser

[2016-12-15 21:41] auremoser opened #103 "Study Group Learning Call - 1/6/17"
January Study Group Call checklist! 1/6/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-january-2017
- [x] make [event on site](https://science.mozilla.org/programs/events/studygroup-call-january-06)
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder
- [x] define theme

**Tuesday before (1/3/17)**
- [x] email leaders

[2017-01-07 18:42] stephwright commented on #60
@auremoser do you have a link to the swag assets that you could put in here?  Is it in Google Drive? Dropbox? or in GitHub somewhere?

[2017-02-17 18:39] #103 closed, assigned to auremoser

[2017-02-17 18:39] auremoser opened #104 "Study Group Learning Call - 2/3/17"
February Study Group Call checklist! 2/3/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-february-2017
- [x] make [event on site](https://science.mozilla.org/programs/events/studygroup-call-february-03)
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder
- [x] define theme

**Tuesday before (1/29/17)**
- [x] email lead

[2017-02-17 18:39] #104 closed, assigned to auremoser

[2017-02-17 21:06] auremoser opened #105 "Study Group Learning Call - 3/3/17"
March Study Group Call checklist! 3/3/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-march-2017
- [x] make [event on site](https://science.mozilla.org/programs/events/studygroup-call-march-03)
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder
- [x] define theme

**Tuesday before (2/28/17)**
- [x] email leaders a rem

[2017-02-17 21:08] #102 closed, assigned to auremoser

[2017-02-17 21:11] auremoser opened #106 "Community Call - 4/13/17"
April Community Call checklist! 4/13/16
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-apr13-2016
- [x] make [event on science.mozilla.org](https://science.mozilla.org/programs/events/community-call-apr-13-11-et)
- [x] contact speakers - in pad
- [x] define theme - Trust in Science
- [x] contact Joe/OpenCon for cross-posting
- [x] reach out to Pearl ab

[2017-03-03 22:20] auremoser opened #107 "Study Group Learning Call - 4/7/17"
April Study Group Call checklist! 4/7/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-april-2017
- [x] make [event on site](https://science.mozilla.org/programs/events/studygroup-call-april-07)
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder
- [x] define theme: Sustaining Groups

**Tuesday before (4/4/17)**
- [x] e

[2017-03-03 22:21] #105 closed, assigned to auremoser

[2017-03-03 22:23] #100 closed, assigned to auremoser

[2017-03-03 22:24] #97 closed, assigned to nobody

[2017-03-03 22:24] #99 closed, assigned to kaythaney, abbycabs, auremoser, arlissc, zee-moz, stephwright

[2017-04-10 15:23] #107 closed, assigned to auremoser

[2017-04-10 15:24] auremoser opened #108 "Study Group Learning Call - 5/5/17"
May Study Group Call checklist! 5/5/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-may-2017
- [x] make [event on site](https://science.mozilla.org/programs/events/studygroup-call-may-05)
- [x] email listserv
- [x] contact speakers Study Group Leads with reminder
- [x] define theme: Open Science

**Thursday before (4/27/17)**
- [x] email lead

[2017-04-14 21:34] auremoser opened #109 "Community Call - 6/8/17"
June Community Call checklist! 6/8/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-jun08-2016
- [x] make [event on science.mozilla.org](https://science.mozilla.org/programs/events/community-call-jun-08-11-et)
- [x] contact speakers - in pad
- [x] define theme - Reproducibility + Data Reuse
- [x] contact Joe/OpenCon for cross-posting
- [x] reach out t

[2017-04-14 21:59] #106 closed, assigned to auremoser

[2017-05-06 03:39] auremoser opened #110 "Study Group Learning Call - 6/2/17"
May Study Group Call checklist! 5/5/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-jun-2017
- [x] make [event on site](https://science.mozilla.org/programs/events/studygroup-call-jun-02)
- [ ] email listserv
- [ ] contact speakers Study Group Leads with reminder
- [x] define theme: Open Publishing

**Thursday before (5/30/17)**
- [ ] email l

[2017-07-19 18:49] #96 closed, assigned to auremoser

[2017-08-01 16:05] #109 closed, assigned to auremoser

[2017-08-01 16:05] auremoser opened #111 "Community Call - 8/10/17"
June Community Call checklist! 8/10/17
owner: @auremoser
- [x] make etherpad https://public.etherpad-mozilla.org/p/sciencelab-calls-aug10-2016
- [x] make [event on science.mozilla.org](https://science.mozilla.org/programs/events/community-call-aug-10-11-et)
- [x] contact speakers - in pad
- [x] define theme - Open Project Management
- [x] contact Joe/OpenCon for cross-posting
- [x] reach out to Pe

[2018-08-09 16:34] #53 closed, assigned to nobody

[2018-08-09 16:36] stephwright commented on #70
@zee-moz I was planning on closing this since GS is no longer under auspices of Science Lab... just wanted to highlight that it's still here ,just closed in case you want to use it for future Sprints.

[2018-08-09 16:36] #70 closed, assigned to arlissc

[2018-08-09 16:36] #80 closed, assigned to auremoser

[2018-08-09 16:36] #92 closed, assigned to stephwright

[2019-03-30 17:43] ghost opened #112 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-12 18:22] #112 closed, assigned to nobody